@charset "UTF-8";

body {
  background-color: #e8f8f5;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  background-color: #16a085;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  margin: 0;
}

header p {
  color: red;
  font-size: 20px;
}

#INFO {
  font-size: 20px;
  color: red;
}

section {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
}

#sample {
  width: 600px;
}

#jag {
  width: 100vw;
  height: 60vh;
}

a {
  height: 100vh;
  margin: 0;
  flex: 1;
  text-align: center;
  color: #4682b4;
  text-decoration: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a:hover {
  margin: 0;
  color: #fff;
  background-color: #1abc9c;
}

#ver {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: red;
  font-weight: bold;
}
